<footer class="bg-[#c2e4ff] w-screen relative">
  <div id="footer-top" class="flex items-center justify-between px-32">
    <div class="flex items-start justify-center flex-col gap-3 p-5">
      <div class="flex items-center justify-center gap-2">
        <i
          class="fa-thin fa-puzzle fa-flip-horizontal text-[#1f4a79] text-5xl"
        ></i>
        <p class="text-4xl text-[#1f4a79] font-semibold">PROCAREER</p>
      </div>
      <p class="text-left text-[#2d2d2d] text-lg">
        Where opportunities meet preparation. <br />
        Empowering you to take the next step in your career journey
      </p>
      <div class="flex items-center justify-center gap-4">
        <div class="bg-white pl-5 rounded-full shadow">
          <i class="fa-regular fa-user text-[#9ca3af]"></i>
          <input
            type="email"
            id="email"
            x
            class="border-transparent rounded-full w-64 py-2 px-3 focus:outline-none focus:shadow-outline bg-transparent"
            placeholder="Enter your email"
          />
        </div>
      </div>
    </div>
    <div class="flex items-center gap-12 justify-center">
      <a
        href="/"
        class="text-[#2d2d2d] font-medium hover:text-blue-800 hover:underline"
        >Home</a
      >
      <a
        href="/jobs"
        class="text-[#2d2d2d] font-medium hover:text-blue-800 hover:underline"
        >Jobs</a
      >

      <a
        href="/about"
        class="text-[#2d2d2d] font-medium hover:text-blue-800 hover:underline"
        >About Us</a
      >
      <a
        href="/contact"
        class="text-[#2d2d2d] font-medium hover:text-blue-800 hover:underline"
        >Contact Us</a
      >
    </div>
  </div>
  <p class="text-[#2d2d2d] flex items-center justify-center py-4 font-semibold">
    &copy; Copyright 2021 by ProCareer. All rights reserved.
  </p>
</footer>
