@media only screen and (min-width: 319px) and (max-width: 639px) {
  #nav-bar,
  #footer-top,
  #sign-in,
  header button {
    display: none;
  }

  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  #main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #register {
    display: none;
  }
  #content h1 {
    font-size: 32px;
    text-align: center;
  }
  #content p {
    font-size: 14px;
    text-align: center;
  }
  #form {
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px;
    text-align: center;
  }
  #form label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  form {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
  }
  #login {
    width: 250px;
  }
  #main input {
    width: 250px;
  }
  #form-bottom {
    width: 250px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #nav-bar,
  #footer-top,
  #sign-in {
    display: none;
  }
  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  #register {
    display: none;
  }
  #content h1 {
    font-size: 52px;
    text-align: center;
  }
  #content p {
    font-size: 18px;
    text-align: center;
  }
  #form {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  #main input {
    width: 420px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #footer-top,
  #sign-in,
  header button {
    display: none;
  }
  #content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  #content h1 {
    font-size: 52px;
    text-align: center;
  }
  #content p {
    font-size: 16px;
    text-align: center;
  }
  #form {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  #details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
  }
  #main input {
    width: 280px;
  }
  #register {
    height: 380px;
    width: 380px;
  }
  #section {
    gap: 30px;
  }
  #main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #login {
    width: 280px;
  }
}
::-webkit-scrollbar {
  display: none;
}
