::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 319px) and (max-width: 639px) {
  #nav-bar,
  #footer-top,
  #sign-in,
  header button {
    display: none;
  }

  #first-row,
  #second-row {
    flex-direction: column;
  }
  input,
  textarea {
    width: 300px;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #first-row,
  #second-row,
  #birth,
  #graduation,
  #key,
  #summary,
  #resume {
    width: 300px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1300px) {
  #nav-bar,
  #footer-top,
  #sign-in {
    display: none;
  }
}
