<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ProCareer</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-462d1fe84b879d730fe2180b0e0354e0.css?vsn=d"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-white w-screen relative overflow-x-hidden">
    <%- include("../partials/header.ejs") %>
    <main class="w-screen relative">
      <section
        id="sec1"
        class="flex items-center justify-center w-full bg-[#c2e4ff]"
      >
        <div id="sec1-left" class="flex flex-col items-start gap-7 w-max pl-12">
          <h1
            class="text-[80px] tracking-wide leading-none font-bold text-[#2d2d2d]"
          >
            Find the job <br />
            that fits <br />
            your life
          </h1>
          <p class="text-xl text-[#65717c]">
            Discover opportunities that align with your passions
            <br />
            and lifestyle ensuring your career not only fits your skills
            <br />
            but also your life goals.
          </p>
          <div id="sec1-inputs" class="flex">
            <a
              href="/jobs"
              id="button"
              class="bg-[#2d2d2d] text-white px-6 py-3 rounded flex items-center justify-center gap-1.5"
            >
              <i class="fa-solid fa-search"></i>
              <p>Start your Search</p>
            </a>
          </div>
        </div>
        <div id="sec1-right" class="relative">
          <div
            class="h-[35rem] border-[58px] border-[#9cd3ff] rounded-full w-[35rem] ml-24 mt-4 relative flex items-center justify-center oval-container"
          >
            <img
              src="./images/sec1.png"
              alt=""
              class="absolute bottom-0 z-10"
            />
            <div
              class="bg-white h-32 w-32 flex flex-col items-center justify-center absolute left-1 rounded-lg z-10 gap-1 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.5)]"
            >
              <div class="flex items-center justify-center z-10 gap-1">
                <p class="text-[#2d2d2d] font-semibold">20K+</p>
                <i
                  class="fa-duotone fa-solid fa-briefcase"
                  style="
                    --fa-primary-color: #51261f;
                    --fa-secondary-color: #48120a;
                    --fa-secondary-opacity: 0.7;
                  "
                ></i>
              </div>
              <div class="flex items-end justify-center gap-2">
                <div class="flex items-center justify-center">
                  <div class="h-9 w-1 bg-[#292929] rounded-full"></div>
                </div>
                <div class="flex items-centxer justify-center">
                  <div class="h-3 w-1 bg-[#ffa863] rounded-full"></div>
                </div>
                <div class="flex items-center justify-center">
                  <div class="h-6 w-1 bg-[#292929] rounded-full"></div>
                </div>
                <div class="flex items-center justify-center">
                  <div class="h-8 w-1 bg-[#ffa863] rounded-full"></div>
                </div>
                <div class="flex items-center justify-center">
                  <div class="h-12 w-1 bg-[#ffa863] rounded-full"></div>
                </div>
                <div class="flex items-center justify-center">
                  <div class="h-4 w-1 bg-[#ffa863] rounded-full"></div>
                </div>
                <div class="flex items-center justify-center">
                  <div class="h-2 w-1 bg-[#292929] rounded-full"></div>
                </div>
              </div>
              <div>
                <p class="text-[#292929] text-sm font-semibold">
                  People Got Hired.
                </p>
              </div>
            </div>
            <div class="arc-2">
              <div
                class="bg-white h-10 w-10 flex items-center justify-center rounded left-10 top-0 relative"
              >
                <img src="./images/slack.png" alt="" class="h-8 w-8" />
              </div>
            </div>
            <div class="oval-1">
              <div
                class="bg-white h-10 w-10 flex items-center justify-center rounded left-[67px] top-8 relative"
              >
                <img src="./images/dribble.png" alt="" class="h-7 w-7" />
              </div>
            </div>
            <div class="oval-2">
              <div
                class="bg-white h-10 w-10 flex items-center justify-center rounded left-[90px] top-10 relative"
              >
                <img src="./images/google.png" alt="" class="h-7 w-7" />
              </div>
            </div>
            <div
              class="absolute h-12 w-48 bg-white right-16 bottom-32 items-center justify-center flex p-1 z-10 gap-1 rounded-lg shadow-2xl shadow-black"
            >
              <i class="fa-solid fa-briefcase" style="color: #497cab"></i>
              <p class="text-sm">140+ Total Applications</p>
            </div>
            <div class="arc-1">
              <div
                class="bg-white h-10 w-10 flex items-center justify-center rounded left-[30px] top-0 relative"
              >
                <img src="./images/meta.png" alt="" class="h-9 w-9" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        id="sec2"
        class="flex items-center justify-center py-12 bg-gradient-to-r from-[#f0f7fd] via-[#f7f9f8] to-[#fdfbef] p-3"
      >
        <div id="sec2-main" class="flex items-center justify-center gap-10">
          <div
            id="sec2-left"
            class="flex flex-col items-start justify-center gap-5"
          >
            <div
              id="sec2-left-top"
              class="flex items-start justify-center flex-col text-left gap-3"
            >
              <h1 class="text-5xl font-semibold text-[#1f4a79]">
                Browse Job / Internship
              </h1>
              <h3 class="text-[#2d2d2d] text-5xl font-semibold">
                That's Right For You !
              </h3>

              <p class="text-[#2d2d2d]">
                Find a role that fits your career aspirations
              </p>
            </div>
            <div
              id="sec2-left-bottom"
              class="flex items-start justify-center flex-col gap-4 text-[#2d2d2d]"
            >
              <div id="jobs" class="flex items-center justify-center gap-4">
                <button
                  class="flex items-center justify-center gap-3 border-gray-300 border-2 p-2.5 rounded-full button"
                >
                  <i
                    class="fa-regular fa-magnifying-glass bg-[#c2e4ff] h-8 w-8 rounded-full flex items-center justify-center"
                  ></i>
                  <a href="/jobs">Find Jobs</a>
                </button>
                <button
                  class="flex items-center justify-center gap-3 border-gray-300 border-2 p-2.5 rounded-full button"
                >
                  <i
                    class="fa-regular fa-hourglass-half bg-[#fce8ef] h-8 w-8 rounded-full flex items-center justify-center"
                  ></i>
                  <p>Full-Time</p>
                </button>
                <button
                  class="flex items-center justify-center gap-3 border-gray-300 border-2 p-2.5 rounded-full button"
                >
                  <i
                    class="fa-regular fa-hourglass-end bg-[#fff8e8] h-8 w-8 rounded-full flex items-center justify-center"
                  ></i>
                  <p>Part-Time</p>
                </button>
              </div>
              <div class="flex items-center justify-center gap-4">
                <button
                  class="flex items-center justify-center gap-3 border-gray-300 border-2 p-2.5 rounded-full button"
                >
                  <i
                    class="fa-regular fa-house-laptop bg-[#ebe7fe] h-8 w-8 rounded-full flex items-center justify-center"
                  ></i>
                  <p>Work From Home</p>
                </button>
                <button
                  class="flex items-center justify-center gap-3 border-gray-300 border-2 p-2.5 rounded-full button"
                >
                  <i
                    class="fa-regular fa-buildings fa-flip-horizontal bg-[#c2e4ff] h-8 w-8 rounded-full flex items-center justify-center"
                  ></i>
                  <p>On Field</p>
                </button>
              </div>
            </div>
          </div>
          <div>
            <div id="sec2-right" class="flex items-center justify-center gap-7">
              <div
                class="flex items-center justify-center gap-2 flex-col shadow-2xl border-2 border-white shadow-gray-300 p-5 rounded-3xl bg-white"
              >
                <div id="box1" class="flex items-start justify-center gap-32">
                  <p class="font-semibold text-[#2d2d2d] text-2xl">Jobs</p>
                  <div class="flex items-center justify-center w-[50px]">
                    <img
                      src="./images/amazon.png"
                      alt=""
                      class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative bg-white"
                    />
                    <img
                      src="./images/disney.jpeg"
                      alt=""
                      class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative -left-4 z-10 bg-white"
                    />
                    <img
                      src="./images/microsoft.png"
                      alt=""
                      class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative -left-8 bg-white z-10"
                    />
                    <img
                      src="./images/apple.jpeg"
                      alt=""
                      class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative -left-12 bg-white z-10"
                    />
                  </div>
                </div>
                <div
                  class="flex items-center justify-center gap-10 border-2 border-gray-200 w-[250px] h-[80px] rounded-full cards"
                >
                  <div class="flex items-start justify-center flex-col">
                    <p class="text-[#2d2d2d] font-semibold">Web Developer</p>
                    <p class="text-[#655f5f] text-sm">Software Development</p>
                  </div>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div
                  class="flex items-center justify-center gap-16 border-2 border-gray-200 w-[250px] h-[80px] rounded-full cards"
                >
                  <div class="flex items-start justify-center flex-col">
                    <p class="text-[#2d2d2d] font-semibold">Data Science</p>
                    <p class="text-[#655f5f] text-sm">Computer Science</p>
                  </div>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div
                  class="flex items-center justify-center gap-16 border-2 border-gray-200 w-[250px] h-[80px] rounded-full cards"
                >
                  <div class="flex items-start justify-center flex-col">
                    <p class="text-[#2d2d2d] font-semibold">
                      Digital Marketing
                    </p>
                    <p
                      class="text-[#655f5f] text-sm"
                      class="text-[#655f5f] text-sm"
                    >
                      Marketing
                    </p>
                  </div>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>
              <div
                class="flex items-center justify-center gap-2 flex-col shadow-2xl border-2 border-white shadow-gray-300 p-5 rounded-3xl bg-white"
              >
                <div class="flex items-start justify-center">
                  <div id="box2" class="flex items-start justify-center gap-20">
                    <p class="font-semibold text-[#2d2d2d] text-2xl">
                      Internships
                    </p>
                    <div class="flex items-center justify-center w-[50px]">
                      <img
                        src="./images/paytm.png"
                        alt=""
                        class="h-10 w-11 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative bg-white"
                      />
                      <img
                        src="./images/dribble.png"
                        alt=""
                        class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative -left-4 z-10 bg-white"
                      />
                      <img
                        src="./images/meta.png"
                        alt=""
                        class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative -left-8 bg-white z-10"
                      />
                      <img
                        src="./images/google.png"
                        alt=""
                        class="h-10 w-10 border-2 border-gray-300 p-1 rounded-full flex items-center justify-center relative -left-12 bg-white z-10"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="flex items-center justify-center gap-10 border-2 border-gray-200 w-[250px] h-[80px] rounded-full cards"
                >
                  <div class="flex items-start justify-center flex-col">
                    <p class="text-[#2d2d2d] font-semibold">Web Developer</p>
                    <p class="text-[#655f5f] text-sm">Software Development</p>
                  </div>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div
                  class="flex items-center justify-center gap-16 border-2 border-gray-200 w-[250px] h-[80px] rounded-full cards"
                >
                  <div class="flex items-start justify-center flex-col">
                    <p class="text-[#2d2d2d] font-semibold">Content Writing</p>
                    <p class="text-[#655f5f] text-sm">Content</p>
                  </div>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div
                  class="flex items-center justify-center gap-16 border-2 border-gray-200 w-[250px] h-[80px] rounded-full cards"
                >
                  <div class="flex items-start justify-center flex-col">
                    <p class="text-[#2d2d2d] font-semibold">UI/UX Designer</p>
                    <p
                      class="text-[#655f5f] text-sm"
                      class="text-[#655f5f] text-sm"
                    >
                      Design
                    </p>
                  </div>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sec3" class="flex items-center justify-center pt-24">
        <div class="flex items-center justify-between gap-48">
          <div
            id="sec3-left"
            class="flex bg-[#c2e4ff] w-[350px] h-[400px] rounded-lg"
          >
            <img
              src="./images/person-1.png"
              alt=""
              class="h-[400px] relative z-10"
            />
            <div
              id="software"
              class="bg-[#fefefe] flex flex-col items-start justify-center rounded-lg z-10 absolute gap-3 p-2 left-[27rem] bottom-[51rem] shadow-2xl"
            >
              <img src="./images/slack.png" alt="" class="h-12 w-12" />
              <h4 class="text-sm font-semibold">Software Engineer</h4>
              <p class="text-xs">
                We are looking for backend <br />
                developer
              </p>
              <button
                class="bg-[#2d2d2d] p-2 rounded-lg text-white hover:bg-white hover:text-[#2d2d2d] hover:border-2 hover:border-[#2d2d2d] text-xs"
              >
                Apply Now
              </button>
            </div>
            <div class="arc-3"></div>
            <div
              id="trusted"
              class="absolute bg-[#fefefe] items-center justify-center flex p-2 z-10 gap-1 rounded-lg top-[75rem] left-40 shadow-2xl shadow-black"
            >
              <i class="fa-solid fa-shield-check" style="color: #0090ff"></i>
              <p class="text-sm">100% Trusted</p>
            </div>
          </div>

          <div
            id="sec3-right"
            class="flex items-start justify-center flex-col gap-4"
          >
            <i
              class="fa-solid fa-briefcase bg-[#0090ff] p-2 text-white rounded text-[20px]"
            ></i>
            <h1 class="text-5xl text-[#2d2d2d] tracking-wide font-semibold">
              Trusted & Popular <br />
              Job Portal
            </h1>
            <p class="text-xs text-[#2d2d2d] tracking-wide leading-5 w-[465px]">
              Join millions of professionals who trust us to connect them with
              top employers. Our platform is designed to make your job search
              seamless, giving you access to the best opportunities in your
              industry.
            </p>
            <div>
              <button
                class="bg-[#2d2d2d] p-3 rounded-lg text-white hover:bg-white hover:text-[#2d2d2d] hover:border-2 hover:border-[#2d2d2d]"
              >
                Post a Job <i class="fa-solid fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div
        id="companies"
        class="flex items-center justify-center flex-col py-6"
      >
        <h1 class="text-5xl text-[#2d2d2d] font-semibold">
          Top Companies Trust Us
        </h1>
        <marquee behavior="scroll" direction="left">
          <div class="flex items-center justify-center gap-20">
            <img
              src="./images/companies/airtel.png"
              alt=""
              class="h-20 w-full"
            />
            <img src="./images/companies/boat.png" alt="" class="h-12 w-full" />
            <img
              src="./images/companies/paytm.png"
              alt=""
              class="h-24 w-full"
            />
            <img
              src="./images/companies/netflix.png"
              alt=""
              class="h-28 w-full"
            />
            <img
              src="./images/companies/nestle.png"
              alt=""
              class="h-16 w-full"
            />
            <img
              src="./images/companies/book_my_show.png"
              alt=""
              class="h-24 w-full"
            />
            <img
              src="./images/companies/nykaa.png"
              alt=""
              class="h-10 w-full"
            />
            <img src="./images/companies/oyo.png" alt="" class="h-32 w-full" />
            <img
              src="./images/companies/flipkart.png"
              alt=""
              class="h-36 w-full"
            />
            <img
              src="./images/companies/coca_cola.png"
              alt=""
              class="h-16 w-full"
            />
            <img
              src="./images/companies/google.png"
              alt=""
              class="h-16 w-full"
            />
          </div>
        </marquee>
      </div>
      <section id="sec4" class="flex items-center justify-center p-8 pt-16">
        <div class="flex items-center justify-center gap-32">
          <div
            id="sec4-left"
            class="flex items-start justify-center flex-col gap-5 text-[#2d2d2d]"
          >
            <h1 class="text-5xl text-[#2d2d2d] tracking-wide font-semibold">
              Why we are Most <br />
              Popular
            </h1>
            <p class="text-xs text-[#2d2d2d] tracking-wide leading-5 w-[465px]">
              Our unmatched success in connecting job seekers with their ideal
              roles sets us apart. With a user-friendly interface, personalized
              job recommendations, and a <br />vast network of top employers, we
              make finding the perfect job easier than ever.
            </p>
            <div class="flex items-start justify-center gap-10">
              <div class="flex items-start justify-center flex-col gap-10">
                <div
                  id="quality"
                  class="flex items-center border-2 border-[#ffddc2] rounded-lg w-[180px] h-[45px] gap-2 p-2"
                >
                  <i class="fa-solid fa-award p-2 bg-[#ffddc2] rounded-lg"></i>
                  <p>Quality Job</p>
                </div>
                <div
                  id="charge"
                  class="flex items-center justify-center border-2 border-[#ffddc2] rounded-lg w-[180px] h-[45px] gap-2 p-1"
                >
                  <i
                    class="fa-solid fa-credit-card p-2 bg-[#ffddc2] rounded-lg"
                  ></i>
                  <p>No extra Charge</p>
                </div>
              </div>
              <div class="flex items-start justify-center flex-col gap-10">
                <div
                  id="company"
                  class="flex items-center justify-center border-2 border-[#ffddc2] rounded-lg w-[180px] h-[45px] gap-2 p-1"
                >
                  <i
                    class="fa-solid fa-boxes-packing p-2 bg-[#ffddc2] rounded-lg"
                  ></i>
                  <p>Top Companies</p>
                </div>
                <div
                  id="job"
                  class="flex items-center justify-center border-2 border-[#ffddc2] rounded-lg w-[180px] h-[45px] gap-2 p-1"
                >
                  <i
                    class="fa-solid fa-briefcase p-2 bg-[#ffddc2] rounded-lg"
                  ></i>
                  <p>International Job</p>
                </div>
              </div>
            </div>
          </div>
          <div
            id="sec4-right"
            class="flex bg-[#c2e4ff] rounded-xl h-[320px] w-[370px]"
          >
            <div class="arc-5"></div>
            <img
              src="./images/person-2.png"
              alt=""
              class="relative z-10 h-[370px] bottom-12 w-[370px]"
            />
            <div
              id="trusted"
              class="absolute bg-[#fefefe] items-center justify-center flex p-2 z-10 gap-1 rounded-lg shadow-2xl shadow-black w-[140px] h-12 bottom-[8rem] right-[32rem]"
            >
              <i class="fa-solid fa-shield-check" style="color: #2d2d2d"></i>
              <p class="text-sm">100% Trusted</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
