<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-462d1fe84b879d730fe2180b0e0354e0.css?vsn=d"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
    />
    <link rel="stylesheet" href="./css/login.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-screen relative overflow-x-hidden">
    <%- include("../partials/header.ejs") %>
    <main>
      <div id="content" class="flex items-center justify-center flex-col gap-1">
        <h1 class="text-[#1f4a79] text-[70px] font-bold">Welcome Back !</h1>
        <p class="text-[#2d2d2d] font-semibold text-xl">
          Please Enter your details
        </p>
        <div id="section" class="flex items-center justify-center gap-32">
          <div
            id="main"
            class="bg-white p-6 rounded-lg shadow-2xl shadow-[#80b2dc] flex items-center justify-center gap-2"
          >
            <form
              id="form"
              class="w-[350px] flex items-start justify-center flex-col gap-2.5"
            >
              <label for="email" class="text-[#2d2d2d] font-semibold"
                >Email</label
              >
              <input
                name="email"
                type="email"
                id="email"
                class="shadow border rounded w-full py-2 px-3 text-[#2d2d2d] focus:outline-none focus:shadow-outline"
                placeholder="john@example.com"
              />
              <label for="password" class="text-[#2d2d2d] font-semibold"
                >Password</label
              >
              <input
                name="password"
                type="password"
                id="password"
                class="shadow border rounded w-full py-2 px-3 text-[#2d2d2d] focus:outline-none focus:shadow-outline"
                placeholder="Must be at least 6 characters"
              />
              <div id="form-bottom" class="text-center">
                <p class="text-gray-600 text-sm">
                  By logging in, you agree to our
                  <a href="#" class="text-blue-500 hover:underline"
                    >Terms and Conditions</a
                  >.
                </p>
              </div>
              <div class="flex items-center justify-center flex-col gap-2">
                <button
                  id="login"
                  type="submit"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-[350px] focus:outline-none focus:shadow-outline"
                >
                  Login
                </button>
                <div>
                  <p class="flex items-center justify-center text-[#2d2d2d]">
                    Don't have an account ?<span class="text-blue-600"
                      ><a href="/register">Signup</a></span
                    >
                  </p>
                </div>
              </div>
            </form>
          </div>
          <img
            src="./images/register.jpg"
            alt=""
            class="h-[500px] w-[500px]"
            id="register"
          />
        </div>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("form");

        form.addEventListener("submit", async (event) => {
          event.preventDefault(); // Prevent the default form submission

          // Gather form data
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries());

          try {
            // Send a POST request
            const response = await fetch("/api/auth/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(data),
            });

            if (response.ok) {
              // Handle successful response
              const result = await response.json();
              window.location.href = "/";
              // alert("Login successful!");
              // Optionally redirect or clear the form
              form.reset();
            } else {
              // Handle errors
              const error = await response.json();
              alert(`Error: ${error.message}`);
            }
          } catch (error) {
            // Handle network or other errors
            console.error("An error occurred:", error);
            alert("An error occurred while registering. Please try again.");
          }
        });
      });
    </script>
  </body>
</html>
